{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="sng-property bg-LP">

  <section class="">
    <div class="containers flex">

      <!-- 物件詳細 -->
      <article class="sub-conts article">

        <ul class="tag-list">
          <li class="tag">エリア</li>
          <li class="tag">物件種別</li>
        </ul>
        <h1 class="article__ttl">物件名称が入ります物件名称が入ります<button onclick="copy()" class="copy"></button></h1>

        <h2 class="article__desc">特長が入ります。特長が入ります。特長が入ります。特長が入ります。特長が入ります。特長が入ります。特長が入ります。特長が入ります。</h2>

        <!-- 資料のスライダー -->
        <div class="wp-slick">
          <div id="wp-slick">
            <figure><img src="/assets/img/common/img-single01.jpg" alt=""></figure>
            <figure><img src="/assets/img/common/img-single01.jpg" alt=""></figure>
            <figure><img src="/assets/img/common/img-single01.jpg" alt=""></figure>
          </div>
        </div>

        <p class="notes">※図面はお問合せください。</p>

        <div class="article__table">
          <h3 class="ttl-tertiary">基本情報</h3>
          <table class="property-table">
            <tr>
              <th>価格</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>交通</th>
              <td>情報が入ります</td>
            </tr>
          </table>

          <h3 class="ttl-tertiary">土地</h3>
          <table class="property-table">
            <tr>
              <th rowspan="2" class="pc-only">地積</th>
              <th><span class="sp-only">地積</span>公募</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th><span class="sp-only">地積</span>実測</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>権利</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>地目</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>道路</th>
              <td>情報が入ります</td>
            </tr>
          </table>

          <h3 class="ttl-tertiary">建物</h3>
          <table class="property-table">
            <tr>
              <th>構造</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>種類</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>建物面積</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>築年月</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>間取り</th>
              <td>情報が入ります</td>
            </tr>
          </table>

          <h3 class="ttl-tertiary">設備</h3>
          <table class="property-table">
            <tr>
              <th>水道</th>
              <td class="property-table__td--border">情報が入ります</td>
              <th>下水</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>駐車場</th>
              <td colspan="3">情報が入ります</td>
            </tr>
          </table>

          <h3 class="ttl-tertiary">法令上の制限</h3>
          <table class="property-table">
            <tr>
              <th>都市計画</th>
              <td colspan="3">情報が入ります</td>
            </tr>
            <tr>
              <th>用途地域</th>
              <td colspan="3">情報が入ります</td>
            </tr>
            <tr>
              <th>建蔽率</th>
              <td class="property-table__td--border">情報が入ります</td>
              <th>容積率</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>防火指定</th>
              <td colspan="3">情報が入ります</td>
            </tr>
          </table>

          <h3 class="ttl-tertiary">その他</h3>
          <table class="property-table">
            <tr>
              <th>現況</th>
              <td class="property-table__td--border">情報が入ります</td>
              <th>引渡</th>
              <td>情報が入ります</td>
            </tr>
            <tr>
              <th>取引態様</th>
              <td colspan="3">情報が入ります</td>
            </tr>
            <tr>
              <th>備考</th>
              <td colspan="3">情報が入ります</td>
            </tr>
          </table>

        </div>

      </article>

      <!-- サイドメニュー -->
      <aside class="side-form">

        <div class="mkto">
          <div class="form__ttl">物件のお問合せフォーム</div>

        <!-- カイロスタグ挿入 -->

          <script src="//lp.ndsoft.jp/js/forms2/js/forms2.min.js"></script> <form id="mktoForm_4263"></form> <script>MktoForms2.loadForm("//lp.ndsoft.jp", "524-EUC-041", 4263);</script>

        <!--<form action="" class="form">
          
          <div class="form__table">
            <div class="form__ttl">物件のお問合せフォーム</div>
            <table>
              <colgroup>
                <col>
                <col>
              </colgroup>
              <tr>
                <th class="flex aiC">
                  <span class="item">お問合せ物件</span>
                  <span class="required"></span>
                  <div class="notes">※物件名をコピーして記入ください。</div>
                </th>
                <td><input type="text"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">お問合せ内容</span>
                  <span class="required"></span>
                </th>
                <td>
                  <div class="flex fS aiC"><input type="checkbox" class="check">購入に関して相談したい</div>
                  <div class="flex fS aiC"><input type="checkbox" class="check">物件の詳細を知りたい</div>
                  <div class="flex fS aiC"><input type="checkbox" class="check">他の物件（未公開物件）も紹介してほしい</div>
                  <div class="flex fS aiC"><input type="checkbox" class="check">物件を見学したい</div>
                  <div class="flex fS aiC"><input type="checkbox" class="check">その他</div>
                </td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">所属分類</span>
                  <span class="required"></span>
                </th>
                <td>
                  <div class="flex fS aiC"><input type="checkbox" class="check">法人</div>
                  <div class="flex fS aiC"><input type="checkbox" class="check">投資家</div>
                  <div class="flex fS aiC"><input type="checkbox" class="check">その他</div>
                </td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">会社名</span>
                  <div class="notes">※会社にお勤めの方はご記入ください。</div>
                </th>
                <td><input type="text" placeholder="例）〇〇〇株式会社"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">部署名</span>
                  <div class="notes">※会社にお勤めの方はご記入ください。</div>
                </th>
                <td><input type="text" placeholder="例）システム管理室"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">役職名</span>
                </th>
                <td><input type="text"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">お名前</span>
                  <span class="required"></span>
                </th>
                <td>
                  <div class="flex aiC">
                    <p class="flex fS aiC half"><span>姓</span><input type="text" placeholder="例）佐藤"></p>
                    <p class="flex fS aiC half"><span>名</span><input type="text" placeholder="例）太郎"></p>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">メールアドレス</span>
                  <span class="required"></span>
                </th>
                <td><input type="email" placeholder="例）sample@gmail.com.jp"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">電話番号</span>
                  <span class="required"></span>
                  <div class="notes">※ハイフン不要</div>
                </th>
                <td><input type="tel" placeholder="例）090-1234-5678"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">お問合せ・相談事項がある方<br class="pc-only">はご記入ください。</span>
                  <span class="optional"></span>
                </th>
                <td><textarea placeholder="例）ダウンロード資料を見ながら説明もしてほしい。"></textarea></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">個人情報の取扱いについて</span>
                  <span class="required"></span>
                </th>
                <td><div class="flex fS aiC"><input type="checkbox" class="check">同意する</div><p>弊社Webサイトの<a href="/privacy/">プライバシーポリシー</a>をご確認の上、ご同意いただき送信をお願いいたします。</p></td>
              </tr>
            </table>
            <button type="submit" class="more bgP">確認画面へ進む</button>
          </div>
        </form>-->
        <!-- カイロスタグ挿入 end -->

        </div>

        <div class="side-bnr">
          <a half="#"><img src="/assets/img/property/bnr_contact.webp" alt="一覧に公開されていない物件も多数保有しております。詳細はぜひお問合せください。未公開物件を問い合せる"></a>
        </div>

      </aside>
      
    </div>
  </section>
  

  <section class="breadcrumb">
    <div class="containers">
      <ul class="flex fS">
        <li><a href="/">トップ</a></li>
        <li><a href="/property/">物件詳細</a></li>
        <li>物件詳細ページ</li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}