{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="arc-catalog bg-LP">

  <section class="hero-m core">
    <div class="containers">
      <div class="hero-m__box">
        <h1 class="ttl-primary-lower">サービス資料</h1>
        <div class="hero-m__box--lead">サービスの特長や事例などをまとめた資料が<br class="sp-only">ダウンロードできますので是非ご覧ください。</div>
      </div>
    </div>
  </section>

  <section class="catalog-menu">
    <div class="containers">

      <a href="#" class="flex aiC card">
        <figure class="card__img"><img src="/assets/img/whitepaper/img-card01.jpg" alt=""></figure>
        <summary class="card__box">
          <h2 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入り資料タイトルが入り</h2>
          <h3 class="card__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
          <div class="more">資料をダウンロード</div>
        </summary>
      </a>

      <a href="#" class="flex aiC card">
        <figure class="card__img"><img src="/assets/img/whitepaper/img-card01.jpg" alt=""></figure>
        <summary class="card__box">
          <h2 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入り資料タイトルが入り</h2>
          <h3 class="card__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
          <div class="more">資料をダウンロード</div>
        </summary>
      </a>

      <a href="#" class="flex aiC card">
        <figure class="card__img"><img src="/assets/img/whitepaper/img-card01.jpg" alt=""></figure>
        <summary class="card__box">
          <h2 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入り資料タイトルが入り</h2>
          <h3 class="card__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
          <div class="more">資料をダウンロード</div>
        </summary>
      </a>

      <a href="#" class="flex aiC card">
        <figure class="card__img"><img src="/assets/img/whitepaper/img-card01.jpg" alt=""></figure>
        <summary class="card__box">
          <h2 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入り資料タイトルが入り</h2>
          <h3 class="card__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
          <div class="more">資料をダウンロード</div>
        </summary>
      </a>
      
    </div>
  </section>

  <section class="breadcrumb">
    <div class="containers">
      <ul class="flex fS">
        <li><a href="/">トップ</a></li>
        <li>サービス資料</li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}